*{
   box-sizing: border-box;
  
}
#login-row{       
    background-color: purple !important;
    width: 50% !important;
    border-radius: 25px !important;
    margin: 10% auto !important;
    padding: 5%;
}
#signup-section{
    background-image: url('/static/images/nature.jpeg');
    background-repeat: no-repeat;
    background-size: 90% 95% !important;
    background-position: center;
    background-position: relative !important;
}
.display-4{
    font-weight: 600;
}
.display-6{
    font-size: 1.8rem !important;
    font-weight: 1000;
}
#link{
    font-size: 1.1rem;
    font-weight: 400;
}
#link a{
    text-decoration: none;
    color: whitesmoke !important;
    font-weight: 400;
}
#link a:hover{
    border-bottom: 1px solid white !important;
    margin-bottom: 0 !important;
    font-style: italic;
}
.form-control{
    width: 90% !important;
}
#sign-up{
    background-image: url("/static/images/code-2.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 200% !important;
    height: 250px;
    position: relative;
  
}
a #sign-btn{
    margin-left:5% !important;
}
#sign-btn a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
#sign-btn:hover{
    background-color:whitesmoke;
}
#login-btn-2{
    width: 20% !important;
    margin-left: 35% !important;
}
#login-btn-2:hover{
    background-color: rebeccapurple !important;
    color: #fff !important;
}
label{
    color: white;
}

/* registration styling */

#reg{
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 5%;
}
#button{
    float: left !important;
    font-size: .8rem !important;
    
}
.display-5{
    font-size: 1.8rem !important;
}
.display-6{
    font-size: .8rem !important;
}
#search{
    width: 40% !important;
    margin-top: 0 !important;
    margin-left: 60% !important;
    margin-bottom: 5% !important;

}