{% extends 'base.html' %}


{% block content %}

<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="../assets/img/favicon.png" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Memorial Primary School
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<div class="main-panel">

        
    <!-- End Navbar -->
      <div class="container-fluid">
        <div class="row" style="width: 140% !important;float: right !important; margin-top: 0 !important;">
          <div class="col-md-12">
            <form class="form-control" id="search">
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search..." style="width: 50% !important;">
                <button id="button" style="width: 15% !important;" type="submit" class="btn btn-white btn-round btn-just-icon">
                  <i class="material-icons display-6">search</i>
                  <div class="ripple-container"></div>
                </button>
              </div>
            </form>
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title ">Teachers' Assessment</h4>
                <p class="card-category"> List of Teachers and Corresponding Results Per Class</p>                  
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        ID
                      </th>
                      <th>
                       First Name
                      </th>
                      <th>
                        Last Name
                      </th>
                      <th>
                        Class
                      </th>
                      <th>
                        Term
                      </th>
                      <th>
                        Date
                      </th>
                      <th>
                        Year
                      </th>
                      <th>
                        Passes
                      </th>
                      <th>
                        Failures
                      </th>
                      <th>
                        Efficiency
                      </th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          1
                        </td>
                        <td>
                         Bahindi
                        </td>
                        <td>
                          Emmanuel
                        </td>
                        <td>
                          P.7
                        </td>
                        <td class="text-primary">
                          2
                        </td>
                        <td>
                          5-6-2022
                        </td>
                        <td>
                          2022
                        </td>
                        <td>
                          100%-Paid
                        </td>
                        <td>
                          0.00
                        </td>
                        <td>
                      
                        </td>
                      </tr>
                      <tr>
                        <td>
                          2
                        </td>
                        <td>
                         Aine
                        </td>
                        <td>
                          Shillah
                        </td>
                        <td>
                          P.5
                        </td>
                        <td class="text-primary">
                          2
                        </td>
                        <td>
                          5-6-2022
                        </td>
                        <td>
                          2022
                        </td>
                        <td>
                          60%-Paid
                        </td>
                        <td>
                          40%
                        </td>
                        <td>
                       
                        </td>
                      </tr>
                      <tr>
                        <td>
                          3
                        </td>
                        <td>
                         Luzze
                        </td>
                        <td>
                          Brian
                        </td>
                        <td>
                          P.7
                        </td>
                        <td class="text-primary">
                          2
                        </td>
                        <td>
                          5-6-2022
                        </td>
                        <td>
                          2022
                        </td>
                        <td>
                          100%-Paid
                        </td>
                        <td>
                          0.00
                        </td>
                        <td>
            
                        </td>
                      </tr>
                      <tr>
                        <td>
                          4
                        </td>
                        <td>
                         Muhire
                        </td>
                        <td>
                          Innocent
                        </td>
                        <td>
                          P.6
                        </td>
                        <td class="text-primary">
                          2
                        </td>
                        <td>
                          11-6-2022
                        </td>
                        <td>
                          2022
                        </td>
                        <td>
                          90%-Paid
                        </td>
                        <td>
                          10%
                        </td>
                        <td>
                
                        </td>
                      </tr>
                      <tr>
                        <td>
                          5
                        </td>
                        <td>
                         Mugamba
                        </td>
                        <td>
                          Bruno
                        </td>
                        <td>
                          P.4
                        </td>
                        <td class="text-primary">
                          2
                        </td>
                        <td>
                          7-6-2022
                        </td>
                        <td>
                          2022
                        </td>
                        <td>
                          95%-Paid
                        </td>
                        <td>
                         5%
                        </td>
                        <td>
                      
                        </td>
                      </tr>
                      <tr>
                        <td>
                          6
                        </td>
                        <td>
                         Musiimenta
                        </td>
                        <td>
                          Givious
                        </td>
                        <td>
                          P.3
                        </td>
                        <td class="text-primary">
                          2
                        </td>
                        <td>
                          10-3-2022
                        </td>
                        <td>
                          2022
                        </td>
                        <td>
                          100%-Paid
                        </td>
                        <td>
                          0.00
                        </td>
                        <td>
                          
                        </td>
                      </tr>
                      <tr>
                        <td>
                          7
                        </td>
                        <td>
                         Mutungi
                        </td>
                        <td>
                          Ambrozio
                        </td>
                        <td>
                          P.2
                        </td>
                        <td class="text-primary">
                          2
                        </td>
                        <td>
                          8-4-2022
                        </td>
                        <td>
                          2022
                        </td>
                        <td>
                          80%-Paid
                        </td>
                        <td>
                          20%
                        </td>
                        <td>
                          
                        </td>
                      </tr>
                      <tr>
                        <td>
                          8
                        </td>
                        <td>
                         Kavuma
                        </td>
                        <td>
                          Mark
                        </td>
                        <td>
                          P.5
                        </td>
                        <td class="text-primary">
                          2
                        </td>
                        <td>
                          3-7-2022
                        </td>
                        <td>
                          2022
                        </td>
                        <td>
                          100%-Paid
                        </td>
                        <td>
                          0.00
                        </td>
                        <td>
                           
                        </td>
                      </tr>
                        <tr>
                          <td>
                            9
                          </td>
                          <td>
                           Mbabazi
                          </td>
                          <td>
                            Stellah
                          </td>
                          <td>
                            P.6
                          </td>
                          <td class="text-primary">
                            2
                          </td>
                          <td>
                            2-6-2022
                          </td>
                          <td>
                            2022
                          </td>
                          <td>
                            100%-Paid
                          </td>
                          <td>
                            0.00
                          </td>
                          <td>
                           
                          </td>
                        </tr>
                        <tr>
                          <td>
                            10
                          </td>
                          <td>
                           Mubiru
                          </td>
                          <td>
                            Jonathan
                          </td>
                          <td>
                            P.7
                          </td>
                          <td class="text-primary">
                            2
                          </td>
                          <td>
                            3-7-2022
                          </td>
                          <td>
                            2022
                          </td>
                          <td>
                            75.5%Paid
                          </td>
                          <td>
                            24.5%-Paid
                          </td>
                          <td>
                            
                          </td>
                        </tr>
                      </tr>
                    </tbody>
                  </table>
                </div>
                </div>
                </div>

{% endblock %}