body::-webkit-scrollbar{
    -webkit-appearance: none !important;
    background: #ddd;
    width: 6px;
}
body::-webkit-scrollbar-thumb{
    -webkit-appearance: none !important;
    background: #ddd;
    width: 6px;
}