body::-webkit-scrollbar{
    -webkit-appearance: none !important;
    background: #ddd;
    width: 6px;
}
body::-webkit-scrollbar-thumb{
    -webkit-appearance: none !important;
    background: rgba(99, 96, 96, 0.867);
    width: 6px;
}